.product{
    display: grid;
    width: 200px;
    padding: 0 2em;
    background-color: rgba(0, 0, 0, 0.229);
}

.container-info{
    text-align: center;
}


img{
    width:150px;
    height: 200px;

}

.title-product{
    height: 150px;
}